{% extends 'main/base.html' %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ object.title }}</h1>
    <h6>Created by {{ object.author.username }}</h6>
    <img class="img-thumbnail rounded img-fluid" src="{{ object.main_image.url }}" alt="">

    {{ object.description|linebreaks }}

    <code>{{ object.code|linebreaksbr }}</code>

    <br>

    {% if my_favorite %}
        {% include 'components/plots/unlike_button.html' %}
    {% else %}
        {% include 'components/plots/like_button.html' %}
    {% endif %}

    {% if user.is_authenticated and user == object.author %}
    <form action="{% url 'plots:delete' object.pk %}" method="post">
    {% csrf_token %}
            <a class="mt-3 btn btn-warning" href="{% url 'plots:update' object.pk %}">Update</a>
            <button class="mt-3 btn btn-danger" type="submit">Delete</button>
    </form>
    {% endif %}

</div>
{% endblock %}

