{% extends 'main/base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>My Profile</h2>
    <br>
    <p>{{object.first_name}} {{object.last_name}}</p>
    <p>@{{object.username}}</p>
    <p>{{object.email}}</p>
    <p>{{object.date_joined}}</p>

    <a class="mb-3 btn btn-primary" href="{% url 'plots:myplots' %}">My plots</a>
    <a class="mb-3 btn btn-primary" href="{% url 'plots:liked' %}">My favorite plots</a>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
</div>
{% endblock %}


